header{
  background-color: #4bbd96;
  color: white;
  text-align: center;
  overflow: hidden;
  position: sticky;
}
body{
  background-color: black;
}
.singleStock{
  padding: 10px;
  margin: 20px;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
  border: 50px white;
  background-color: blue;
}
.stockDiv{
  flex:50%;
}
#companyName{
  color:grey;
}
#symbol{
  font-size: 25px;
}
#changePercent{
  /* background-color: #d1674a; */
  background-color: rgb(12, 160, 12);
  border-radius: 5px;
  width: 70%;
}